body * {
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 218, 196);
    font-family: 'Press Start 2P', cursive;
    background-image: url("./images/background.png");
}

button {
    border: 0px none;
    height: 2em;
    margin: 15px 0px;
}

h3, h1 {
    text-align: center;
    margin-bottom: 0px;
}

input {
    margin-bottom: .5em;
    padding: .5em;
}

#container {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 1fr 4fr 2fr;
}

header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    display:grid;
    grid-template-columns: 3fr 4fr 2fr;
    grid-template-rows: 1fr;
}

h1 {
    font-size: 1.4em;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.socials img {
    width: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.socials {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1
}

main {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    display:grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr .8fr;
}

#player-one,
#player-two {
    margin-right: 1em;
    background: rgb(189, 218, 201);
    text-align: center;
    padding: 10px;
}

#player-one {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1; 
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    width: 40%;
}

#player-two {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    width: 40%;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: beige;
    width: 336px;
    margin: auto;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

#active-player-tracker {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

#button-nav {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

#button-nav,
#update-name {
    margin: auto;
}

#options-nav {
    grid-column: 4 / span 1;
    grid-row: 7 / span 1;
    margin: auto;
}

#wrapper > * {
    display: flex;
    height: 7em;
    width: 7em;
}

#p-two-icon,
#p-one-icon {
    font-size: 4em;
    padding-top:100px;
}

#box-04,
#box-05,
#box-06 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#box-02,
#box-05,
#box-08 {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.displayValue {
    margin: auto;
    font-size: 50px;
    animation: expand 0.2s ease-in;
}

#points {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

.topnav {
    overflow:hidden;
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.topnav #nav-links {
    display: none;
}

.topnav a {
    color: white;
    padding: 5px 14px;
    display: block;
    font-size: .8em;
}

.topnav .icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}

.topnav a:hover {
    background-color: beige;
    color: black;
}

.active {
    background-color: #4f8ac9;
    color: white;
}

.nav-padding {
    margin-left: 53px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.modal-content-icon,
.modal-content-name {
    background-color: rgb(220, 220, 180);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

@media screen and (min-width: 1100px) {
    #wrapper {
        width: 385px;
    }

    #wrapper > * {
        height: 8em;
        width: 8em;
    }

    header {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    }

    .socials {
        grid-column: 4 / span 2;
    }

    h1 {
        font-size: 1.8em;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        margin: auto;
    }
    

    .topnav {
        grid-column: 1 / span 2;
    }

    .topnav a {
        padding: 12px 14px;
    }


    #player-one,
    #player-two {
        margin-top: 0em;
        padding-top: 2em;
        height: 180px;
        width: 50%;
    }

    #player-one {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        margin-left: auto;
        margin-right: 10px;
        
    }
    
    #player-two {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
        margin-left: 10px;
        margin-right: auto;
    }

    #active-player-tracker {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    #button-nav {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
    }
}
