body * {
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 218, 196);
    font-family: 'M PLUS 2', sans-serif;
}

#outer-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin: auto;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: beige;
    border-radius: 30px;
}

@media screen and (min-width:385px) {
    #wrapper {
        width: 385px;
        margin:auto;
    }
}

#button-nav {
    margin: auto;
}

h3 {
    text-align: center;
}

#wrapper > * {
    display: flex;
    height: 8em;
    width: 8em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#box-1, #box-2, #box-3 {
    border-bottom: 1px solid black;
}

#box-1, #box-4, #box-7 {
    border-right: 1px solid black;
}

#box-3, #box-6, #box-9 {
    border-left: 1px solid black;
}

#box-7, #box-8, #box-9 {
    border-top: 1px solid black;
}

.displayValue {
    margin: auto;
    font-size:100px;
}

button {
    border-radius: 10px;
    border: 0px none;
    height: 2em;
    margin: 15px;
}

#points {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#player-one {
    grid-column: 1 /span 1;
    text-align: right;
    margin-right: 1em;
    margin-top: 0em;
}

#player-two {
    grid-column: 2 /span 1;
    text-align: left;
    margin-top: 0em;
}

/* .winner-straight:after{
    content:"";
    position:absolute;
    border-top:5px solid red;
    width:38em;
    transform: translate(0, 13m);
    transform: rotate(43deg);
    transform-origin: 0% 0%;
    } */